@import "normalize.css";

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Volkhov', serif; */
    /* font-family: 'Poppins', sans-serif; */
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.title {
    margin: 10px 0 0 0;
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 64.5px;
    text-align: center;
    color: #14183e;
}

.suptitle {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #5E6282;
}

/* Intro */

.intro {
    min-height: 100vh;
    padding-top: 47px;
    background: url("../img/decore-1.svg") no-repeat top right,
                url("../img/decore-2.svg") no-repeat top left;
}

.intro__row {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu__item + .menu__item {
    margin-left: 50px;
}

.menu__link {
    font-size: 17px;
    font-weight: 600;
    color: #212832;
    text-decoration: none;
}

.login-section {
    margin-left: 86px;
}

.menu__subitem:last-child .menu__link {
    position: relative;
    padding-right: 23px;
}

.menu__subitem:last-child .menu__link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    width: 9px;
    height: 5.5px;
    background: url("../img/dropdown-icon.svg") no-repeat center;
    transform: translateY(-50%);
}

.menu__btn {
    display: block;
    padding: 9px 22px;
    border: 1px solid #212832;
    border-radius: 5px;
}

.intro__description {
    margin: 112px 0 0 0;
    z-index: 1;
}

.intro__title {
    width: 600px;
    margin: 24px 0 30px 0;
    font-family: 'Volkhov', serif;
    font-size: 84px;
    font-weight: 700;
    line-height: 89px;
    color: #181E4B;
}

.intro__suptitle {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #df6951;
    text-transform: uppercase;
}

.intro__img {
    position: relative;
    right: 150px;
    z-index: 0;
}

.styled-underline {
    position: relative;
}

.styled-underline::after {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 20px;
    display: block;
    width: 385px;
    height: 12px;
    background: url("../img/intro-underline.svg") no-repeat;
    z-index: -1;
}

.intro__text {
    max-width: 470px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #5E6282;
}

.intro__buttons {
    margin: 34px 0 0 0;
    display: flex;
}

.intro__btn {
    margin: 0 44px 0 0;
    padding: 19px 27px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #F1A501;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
}

.intro__play-btn {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #686D77;
}

.intro__play-icon {
    position: relative;
    margin: 0 21px 0 0;
    display: block;
    padding: 0;
    width: 52px;
    height: 52px;
    background: #DF6951;
    border-radius: 50%;
    box-shadow: 0 15px 30px rgba(223, 105, 81, 0.3);
}

.intro__play-icon::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 15px;
    height: 15px;
    background: url("../img/right-triangle.svg") no-repeat center;
    transform: translate(-50%, -50%);
}

/* Services */

.services .container {
    background: url("../img/services-decore.svg") no-repeat top right;
}

.services__header {
    margin: 100px 0 0 0;
}

.cards-services {
    margin: 66px 0 156px 0;
    display: flex;
    align-items: baseline;
}

.cards-services__item {
    display: flex;
    padding: 45px 45px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards-services__item:nth-child(2) {
    position: relative;
    background: #fff;
    border-radius: 36px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
                0 64.81px 46.85px rgba(0, 0, 0, 0.0125),
                0 38.52px 25.48px rgba(0, 0, 0, 0.0121),
                0 20px 13px rgba(0, 0, 0, 0.01),
                0 1.85px 3.15px rgba(0, 0, 0, 0.005);
}

.cards-services__item:nth-child(2)::before {
    content: "";
    position: absolute;
    left: -35px;
    bottom: -33px;
    display: block;
    width: 100px;
    height: 100px;
    background: #df6951;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 10px;
    z-index: -9999;
}

.cards-services__title {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #1E1D4C;
}

.cards-services__text {
    margin: 15px 0 0 0;
    padding: 0 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #5E6282;
}

/* Destinations */

.destinations__header {
    margin: 0 0 60px 0;
}

.destinations__suptitle {
    text-transform: none;
}

.cards-destinations {
    position: relative;
    display: flex;
    justify-content: center ;
    padding: 0 0 186px 0;
}

.cards-destinations::after {
    content: "";
    position: absolute;
    top: 160px;
    right: 5px;
    display: block;
    width: 100px;
    height: 260px;
    background: url("../img/destinations-decore.svg") no-repeat center;
    z-index: -1;
}

.cards-destinations__item {
    border-radius: 24px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
                0 64.81px 46.85px rgba(0, 0, 0, 0.0125),
                0 38.52px 25.48px rgba(0, 0, 0, 0.0121),
                0 20px 13px rgba(0, 0, 0, 0.01),
                0 1.85px 3.15px rgba(0, 0, 0, 0.005);
}

.cards-destinations__container {
    margin: 27px 25px 42px 20px;
}

.cards-destinations__item + .cards-destinations__item {
    margin-left: 60px;
}

.cards-destinations__row {
    display: flex;
    justify-content: space-between;
}

.cards-destinations__text {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;   
    font-weight: 500;
    line-height: 23px;
    color:#5E6282;
}

.cards-destinations__duration {
    position: relative;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 16px;
}

.cards-destinations__duration::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/navigation.svg") no-repeat center;
    transform: translate(0, -50%);
}

/* Trip Book */

.trip-book {
    padding-bottom: 200px;
}

.trip-book__row {
    display: flex;
    justify-content: space-between;
}

.trip-book__title,
.trip-book__suptitle {
    text-align: left;
    text-transform: none;
}

.trip-book__item {
    display: flex;
    margin: 48px 0 0 0;
}

.trip-book__column {
    flex: 0 1 500px;
}

.trip-book__column:last-child {
    position: relative;
}

.trip-book__column:last-child::before {
    content: "";
    position: absolute;
    top: -111px;
    left: 100px;
    display: block;
    width: 500px;
    height: 500px;
    background: url("../img/trip-book-decore.svg") no-repeat;
    background-size: cover;
    z-index: -1;
}

.trip-book__text-container {
    margin: 0 0 0 21px;
}

.trip-book__headline,
.trip-book__text {
    font-family: 'Poppins', sans-serif;   
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #5E6282;
}

.trip-book__body {
    max-width: 395px;
}

.trip-book__text {
    margin: 4px 0 0 0;
    font-weight: 400;
}

.trip-book__image {
    margin: 59px 0 0 0;
}

/* Testimonials */

.testimonials {
    padding-bottom: 190px;
}

.testimonials__header {
    width: 410px;
    margin: 0 121px 0 0;
}

.testimonials__title,
.testimonials__suptitle {
    text-align: left;
}

.testimonials__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__controls {
    display: flex;
    margin-top: 82px;
}

.testimonials__control {
    width: 12px;
    height: 12px;
    background: #E5E5E5;
    border-radius: 50%;
}

.testimonials__control + .testimonials__control {
    margin-left: 26px;
}

.testimonials__control_active {
    background:#39425D;
}

.testimonials__card {
    position: relative;
    font-family: 'Poppins', sans-serif;
    max-width: 500px;
    padding: 28px 68px 34px 34px;
    border-radius: 10px;
    background: #fff;
    color: #5E6282;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
                0 64.81px 46.85px rgba(0, 0, 0, 0.0125),
                0 38.52px 25.48px rgba(0, 0, 0, 0.0121),
                0 20px 13px rgba(0, 0, 0, 0.01),
                0 1.85px 3.15px rgba(0, 0, 0, 0.005);
}

.testimonials__card::after {
    content: "";
    position: absolute;
    top: 90px;
    left: 50px;
    width: 500px;
    height: 232px;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    z-index: -1;  
}

.testimonials__text {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}

.testimonials__author {
    margin: 34px 0 0 0;
}

.testimonials__author span {
    display: block;
}

.testimonials__name {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.testimonials__subname {
    margin: 5px 0 0 0;
}

.testimonials__img {
    position: absolute;
    top: -28px;
    left: -34px;
}

.testimonials__author_second {
    position: absolute;
    left: 95px;
}

.arrows {
    display: flex;
    flex-direction: column;
    margin-left: 114px;
}

.arrow__icon + .arrow__icon {
    margin-top: 60px;
}

/* Logos */ 

.logos__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos__item_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 86px;
    border-radius: 10px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
                0 64.81px 46.85px rgba(0, 0, 0, 0.0125),
                0 38.52px 25.48px rgba(0, 0, 0, 0.0121),
                0 20px 13px rgba(0, 0, 0, 0.01),
                0 1.85px 3.15px rgba(0, 0, 0, 0.005);
}

/* Subscribe */

.subscribe {
    margin: 111px 0 96px 0;
    padding: 0 0 70px 0;
}

.subscribe__inner {
    padding: 79px 155px;
    background: #dfd7f9;
    border-radius: 20px;
    border-top-left-radius: 129px;
}

.subscribe__text {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    line-height: 54px;
    font-weight: 600;
    text-align: center;
    color: #5E6282;
}

.subscribe__form {
    margin: 74px 0 0 0;
    text-align: center;
}

.subscribe__text-input {
    position: relative;
    padding: 25px 0 25px 66px;
    outline: none;
    border: none;
}

.subscribe__text-input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #39425D;
}

.subscribe__text-input::after {
    content: "awd";
    position: absolute;
    display: block;
    width: 22px;
    height: 19px;
    background: url("../img/mail-icon.svg") no-repeat center;
}